body * {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand img {
    width: 80px;
    margin-left: 119px;
}

.navbar {
    background-color: #E83E8C;

}

.collapse {
    margin-right: 119px;
}

.nav-item {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: lighter;
}



#productos {
    padding: 75px 0 75px 0;
    text-align: center;
    color: #707070;
    font-size: 60px;
    font-weight: bold;
}

#menu {
    margin-left: 10%;
    margin-right: 10%;
}

.card-title {
    color: #373A3C;
    font-size: 17px;
    font-weight: bold;
}

.card-title {
    color: #373A3C;
    font-size: 16px;

}

.list-group {
    color: #373A3C;
    font-size: 11px;
}

.card-link {
    color: #1C7CD5;
    font-size: 11px;
}

.card {
    margin: 10%;
}

.row {
    margin-left: 10%;
    margin-right: 10%;
}


#mediosPago {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    background-color: #17A2B8;
    color: #FFFFFF
}


#tarjetas,
#medios {
    display: inline-block;
}

#medios {
    font-size: 40px;
    font-weight: bold;

}

i {
    padding-left: 60px;
}


@media only screen and (max-width: 880px) {
    #mediosPago {
        display: none !important;
    }
}

footer {
    background-color: #E83E8C;
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 80px;
}